gpac/*.diff
gpac/*.dmg
gpac/*.kdev4
gpac/*.log
gpac/.kdev*
gpac/applications/generators/MPEG4/MPEG4Gen
gpac/applications/generators/SVG/SVGGen
gpac/applications/generators/X3D/X3DGen
gpac/applications/osmo4_android/bin
gpac/applications/osmo4_android/gen/com/gpac/Osmo4/R.java
gpac/applications/osmo4_android/libs/armeabi/gdb.setup
gpac/applications/osmo4_android/libs/armeabi/gdbserver
gpac/applications/osmo4_android/obj
gpac/applications/testapps/mp4_streamer
gpac/bin/Win32
gpac/bin/android
gpac/bin/gcc
gpac/bin/w32_rel/Thumbs.db
gpac/build/android/libs/armeabi-v7a
gpac/build/android/obj
gpac/build/msvc9/*.ncb
gpac/build/msvc9/*.suo
gpac/build/msvc9/*.tlb
gpac/build/msvc9/*.user
gpac/build/msvc9/Debug
gpac/build/msvc9/obj
gpac/config.h
gpac/config.mak
gpac/core
gpac/extra_lib/android
gpac/extra_lib/include/jpeg/android
gpac/gmon.out
gpac/include/gpac/.directory
gpac/include/gpac/version.h
